<!-- views/admin/partials/_footer.ejs -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IBC TANK STORE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://github.com/ZaheerAhmedkhan65/">Zaheer Ahmed</a>
    </div>
</footer>
<!-- End Footer -->